@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.color_picker_page {
    background-color: white;
    text-align: center;
    padding-top: 100px;
    height: 100vh;
}

.heading {
    color: #222222;
    font-weight: bold;
    font-size: 42px;
    padding: 10px;
}

.button-color1 {
    height: 70px;
    border-radius: 10px;
    border-color: #222222;
    border-width: 3px;
    background-color: #e0e0e0;
}

.button-color2 {
    height: 70px;
    border-radius: 10px;
    border-color: #222222;
    border-width: 3px;
    background-color: #6fcf97;
}

.button-color3 {
    height: 70px;
    border-radius: 10px;
    border-color: #222222;
    border-width: 3px;
    background-color: #56ccf2;
}

.button-color4 {
    height: 70px;
    border-radius: 10px;
    border-color: #222222;
    border-width: 3px;
    background-color: #bb6bd9;
}

.Background_head {
    background-color: #222222;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    font-size: 24px;
}

.span_color {
    color: #49a6e9;
}

.description {
    color: #222222;
    font-size: 18px;
    margin: 5px;
}